/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */
/* designed by uxamanda (https://discourse.joplinapp.org/u/uxamanda). latest version https://github.com/amandamcg/joplin-theme */
:root {
  --white: #FFF;
  --dark-white: #e3e3e3;
  --light-grey: #d4d4d4;
  --grey: #f2f7ed;
  --dark-grey: #272728;
  --darker-grey: #1d2024;
  --black: #131517;
  --base-size-1: 1px;
  --base-size-4: 4px;
  --base-size-8: 8px;
  --base-size-10: 10px;
  --base-size-13: 13px;
  --base-size-18: 18px;
  --base-size-24: 24px;
  --base-size-32: 32px;
  --base-size-40: 40px;
  --base-size-272: 272px;
  --z-toc: 99;
  --font-weight-light: 200;
  --font-weight-base: 400;
  --font-weight-bold: 500;
  --font-sans: "Ubuntu";
  --font-mono: "Ubuntu Mono";
  --primary: #62cdff;
  --secondary: #00dbcc;
  --font-line-height: 1.4em;
  --font-size: var(--base-size-13);
  --icon-size: var(--font-size);
}

* {
  font-family: var(--font-sans) !important;
  font-weight: var(--font-weight-base) !important;
  line-height: var(--font-line-height) !important;
}

.fa,
.far,
.fas {
  font-weight: 900 !important;
  font-family: "Font Awesome 5 Free" !important;
  font-size: var(--icon-size) !important;
}

/* bagian code mirror */

#react-root .cm-s-material-darker span.cm-comment {
  color: #f07178 !important;
}

.cm-s-material-darker .cm-variable-3,
.cm-s-material-darker .cm-type {
  color: var(--light-grey) !important;
}

.cm-s-material-darker.CodeMirror {
  background-color: var(--black) !important;
  color: var(--light-grey) !important;
}

.cm-s-material-darker .cm-variable-2 {
  color: var(--light-grey) !important;
}

.cm-s-material-darker .cm-string {
  color: var(--primary) !important;
}

.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4 {
  color: var(--dark-white) !important;
}
